@media(max-width:1400px)
  .team__services
    padding 110px 75px
  .team__info 
    padding 110px 75px
  .team__portfolio
    padding 110px 75px
  .team__portfolio-block
    img 
      width 500px
      height 300px
  .team__talk
    padding 110px 75px

@media(max-width:1200px)
  .team__top
    padding 160px 50px
  .team__services
    padding 110px 50px
  .team__info 
    padding 110px 50px
  .team__portfolio
    padding 110px 50px
  .team__portfolio-block
    img 
      width 430px
      height 250px
  .team__talk
    padding 110px 50px

@media(max-width:1050px)
  .team__services
    padding 70px 30px
  .team__info 
    padding 70px 30px
  .team__portfolio
    padding 70px 30px
  .team__portfolio-block
    img 
      width 430px
      height 250px
  .team__talk
    padding 70px 30px

@media(max-width:950px)
  .team__top
    padding 100px 50px
    h1 
      font-size 30px
  #team__top-btn
    padding 20px 50px
    font-size 16px
  .team__services
    h1 
      font-size 30px
      margin-bottom 20px
  .team__services-info
    flex-direction column
    margin-top 50px
  .team__services-block
    margin-right 0
    margin-bottom 50px
    svg
      margin-bottom 20px
    p
      margin 15px 0 0 0
  .team__info 
    h1 
      font-size 30px
      margin-bottom 20px
  .team__info-view
    flex-direction column
    align-items center
    margin-top 40px
  .team__info-block
    width 80%
    margin-bottom 50px
    h2 
      margin 20px 0 5px 0
    &:last-child
      margin-bottom 0
  .team__portfolio
    h1 
      font-size 30px
      margin-bottom 20px
  .team__portfolio-images
    flex-direction column
    padding 0
  .team__portfolio-block
    margin-top 30px
    margin-right 0
  .team__talk
    h1
      font-size 30px
  .team__talk-info
    flex-direction column
    align-items center
    padding 0
  .team__talk-block
    margin-right 0
    margin-top 60px
    width 80%

@media(max-width:600px)
  .team__talk-block
    width 90%

@media(max-width:500px)
  .team__top
    padding 100px 10px
    h1 
      font-size 20px
  .team__services
    padding 50px 10px
    h1 
      font-size 20px
  .team__info 
    padding 50px 10px
    h1 
      font-size 20px
    &-block
      h2 
        font-size 20px
      p
        font-size 14px
  .team__portfolio
    padding 50px 10px
    h1 
      font-size 20px
  .team__portfolio-block
    img 
      width 300px
      height 180px
  .team__talk
    padding 50px 10px
    h1 
     font-size 20px
  .team__talk-block
    flex-direction column
    align-items center
    img 
      margin-bottom 10px
  .team__talk-text
    font-style italic
    margin-left 0
    h2 
      font-size 20px
    h3 
      font-size 16px
    span 
      font-size 14px
