@media(max-width:1400px)
  .exh__top-block
    img 
      width 600px
  .exh__top
    padding 30px 150px
  .exh__info
    padding 30px 150px
  .exh__invite
    padding 30px 150px

@media(max-width:1200px)
  .exh__top-block
    img 
      width 450px
  .exh__top
    padding 30px 100px
  .exh__info
    padding 30px 100px
  .exh__invite
    padding 30px 100px

@media(max-width:1100px)
  .exh__info-content
    flex-direction column
    margin-top 0
  .exh__info-block
    width 100%
    margin-bottom 30px

@media(max-width:900px)
  .exh__top-block
    img 
      width 350px
  .exh__top-text
    span
      font-size 14px
    p    
      font-size 14px 
  .exh__top
    padding 30px 70px
  .exh__info
    padding 30px 70px
  .exh__invite
    padding 0 70px
    flex-direction column
  .exh__invite-ceremony
    margin-right 0
    margin-bottom 20px

@media(max-width:750px)
  .exh__top-block
    flex-direction column
    img 
      margin-right 0
  .exh__top
    padding 30px 30px
  .exh__info
    padding 30px 30px
    span
      font-size 14px
  .exh__invite
    padding 0 30px

@media(max-width:600px)
  .exh__top
    h1 
      font-size 20px
  .exh__info
    h1 
      font-size 20px
  .exh__info-block
    flex-direction column
    margin 50px 0 0 0
    h2 
      text-align center

@media(max-width: 500px)
  .exh__top
    padding 20px
    h1 
      font-size 17px
  .exh__top-block
    img 
      width 280px
  .exh__info
    padding 20px
    h1 
      font-size 17px
  .exh__invite
    padding 20px
    h1 
      font-size 18px
    p 
      font-size 14px
  .exh__invite-ceremony
    img
      width 280px
  .exh__invite-info
    input 
      width 100%
