<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/style.css"/>
	<link rel="icon" href="./assets/images/favicon.ico" type="image/x-icon">
	<title>about</title>
</head>

  <body class="team__body">
  
    <header class="header team__header">
      <div class="header__content">
        <div class="header__nav team__header-nav">
          <a href="main.html">home</a>
          <a href="exh.html">project</a>
          <a href="about.html">about</a>
        </div>
				<div class="header__mobile">
          <div class="header__mobile-icon">
            <button class="header__mobile-btn team__header-btn">
              <img src="./assets/images/icons/list.svg" alt="">
            </button>
          </div>
          <div class="header__mobile-content team__header-mobile">
            <a href="main.html">home</a>
            <a href="exh.html">project</a>
            <a href="about.html">about</a>
          </div>
        </div>
        <div class="header__signin team__header-signin">
          <a href="signin.html">log in</a>
        </div>
      </div>
      <div class="break-line team__break-line"></div>
    </header>

		<div class="team__top">
			<h1>In efficitur pulvinar platea et dictum mattis mattis odio. Venenatis dui eget ultricies. Odio. Ultricies.</h1>
			<button id="team__top-btn">work with us</button>
		</div>

		<div class="team__services">
			<h1>This Is What We Get</h1>
			<span>In efficitur pulvinar platea et dictum mattis mattis odio. Venenatis dui eget ultricies. Odio. Ultricies.</span>
			<div class="team__services-info">
				<div class="team__services-block">
					<img src="https://img.icons8.com/wired/64/ffffff/info.png"/>
					<h3>The Myth Of Ugly Design</h3>
					<p>In efficitur pulvinar platea et dictum mattis mattis odio. Venenatis dui eget ultricies.</p>
				</div>
				<div class="team__services-block">
					<img src="https://img.icons8.com/wired/64/ffffff/info.png"/>
					<h3>How To Create And Manage SVG Sprites</h3>
					<p>In efficitur pulvinar platea et dictum mattis mattis odio. Venenatis dui eget ultricies.</p>
				</div>
				<div class="team__services-block">
					<img src="https://img.icons8.com/wired/64/ffffff/info.png"/>
					<h3>Best National Loctions</h3>
					<p>In efficitur pulvinar platea et dictum mattis mattis odio. Venenatis dui eget ultricies.</p>
				</div>
				<div class="team__services-block">
					<img src="https://img.icons8.com/wired/64/ffffff/info.png"/>
					<h3>How To Master Microcopy</h3>
					<p>In efficitur pulvinar platea et dictum mattis mattis odio. Venenatis dui eget ultricies.</p>
				</div>
			</div>
		</div>

		<div class="team__info">
			<h1>Our Advisors</h1>
			<p>In efficitur pulvinar platea et dictum mattis mattis odio. Venenatis dui eget ultricies. Odio. Ultricies.</p>
			<div class="team__info-view">
				<div class="team__info-block">
					<img src="./assets/pic/2.jpg" alt="">
					<h2>Bruce Powell</h2>
					<span>designer</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
					<div class="team__info-links">
						<a href=""><img src="./assets/images/socialicons/facebook.svg" alt=""></a>
						<a href=""><img src="./assets/images/socialicons/vk.svg" alt=""></a>
						<a href=""><img src="./assets/images/socialicons/twitter.svg" alt=""></a>
					</div>
				</div>
				<div class="team__info-block">
					<img src="./assets/pic/2.jpg" alt="">
					<h2>Bruce Powell</h2>
					<span>targetologist</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
					<div class="team__info-links">
						<a href=""><img src="./assets/images/socialicons/facebook.svg" alt=""></a>
						<a href=""><img src="./assets/images/socialicons/vk.svg" alt=""></a>
						<a href=""><img src="./assets/images/socialicons/twitter.svg" alt=""></a>
					</div>
				</div>
				<div class="team__info-block">
					<img src="./assets/pic/2.jpg" alt="">
					<h2>Bruce Powell</h2>
					<span>programmer</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
					<div class="team__info-links">
						<a href=""><img src="./assets/images/socialicons/facebook.svg" alt=""></a>
						<a href=""><img src="./assets/images/socialicons/vk.svg" alt=""></a>
						<a href=""><img src="./assets/images/socialicons/twitter.svg" alt=""></a>
					</div>
				</div>
				<div class="team__info-block">
					<img src="./assets/pic/2.jpg" alt="">
					<h2>Bruce Powell</h2>
					<span>manager</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
					<div class="team__info-links">
						<a href=""><img src="./assets/images/socialicons/facebook.svg" alt=""></a>
						<a href=""><img src="./assets/images/socialicons/vk.svg" alt=""></a>
						<a href=""><img src="./assets/images/socialicons/twitter.svg" alt=""></a>
					</div>
				</div>
			</div>
		</div>

		<div class="team__portfolio">
			<h1>Latest Projects</h1>
			<p>In efficitur pulvinar platea et dictum mattis mattis odio. Venenatis dui eget ultricies. Odio. Ultricies.</p>
			<div class="team__portfolio-images">
				<div class="team__portfolio-block">
					<img src="./assets/pic/8.jpg" alt="">
					<p>5 Ways to Use 404 Pages</p>
				</div>
				<div class="team__portfolio-block">
					<img src="./assets/pic/8.jpg" alt="">
					<p>Is UX Really That Important?</p>
				</div>
			</div>
			<div class="team__portfolio-images">
				<div class="team__portfolio-block">
					<img src="./assets/pic/8.jpg" alt="">
					<p>How to Create and Manage SVG Sprites</p>
				</div>
				<div class="team__portfolio-block">
					<img src="./assets/pic/8.jpg" alt="">
					<p>5 Ways to Use 404 Pages</p>
				</div>
			</div>
		</div>

		<div class="team__talk">
			<h1>What's Client Say?</h1>
			<div class="team__talk-info">
				<div class="team__talk-block">
					<img src="./assets/pic/7.jpg" alt="">
					<div class="team__talk-text">
						<span>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua."</span>
						<h2>Bruce Powell</h2>
						<h3>CEO at Google Inc.</h3>
					</div>
				</div>
				<div class="team__talk-block">
					<img src="./assets/pic/7.jpg" alt="">
					<div class="team__talk-text">
						<span>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua."</span>
						<h2>Bruce Powell</h2>
						<h3>CEO at Google Inc.</h3>
					</div>
				</div>
			</div>
			<div class="team__talk-info">
				<div class="team__talk-block">
					<img src="./assets/pic/7.jpg" alt="">
					<div class="team__talk-text">
						<span>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua."</span>
						<h2>Bruce Powell</h2>
						<h3>CEO at Google Inc.</h3>
					</div>
				</div>
				<div class="team__talk-block">
					<img src="./assets/pic/7.jpg" alt="">
					<div class="team__talk-text">
						<span>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua."</span>
						<h2>Bruce Powell</h2>
						<h3>CEO at Google Inc.</h3>
					</div>
				</div>
			</div>
		</div>

		<div class="main__contacts">
      <h2>Contact With Us</h2>
      <div class="main__contacts-icons">
        <div class="main__contacts-block">
          <img src="./assets/images/main/location.svg" alt="">
          <span>Moscow</span>
          <span>Russian Federation</span>
        </div>
        <div class="main__contacts-block">
          <img src="./assets/images/main/call.svg" alt="">
          <span>+79874790118</span>
          <span>+79874790118</span>
        </div>
        <div class="main__contacts-block">
          <img src="./assets/images/main/mail.svg" alt="">
          <span>mxxnsh@gmail.com</span>
          <span>mxxnsh@yahoo.com</span>
        </div>
      </div>
      <div class="main__contacts-inputs">
        <input type="text" placeholder="Your name">
        <input type="text" placeholder="Your email adress">
      </div>
      <div class="main__contacts-message">
        <input type="text" placeholder="text your message">
      </div>
      <button id="main__contacts-btn">Send it</button>
    </div>
    
		<footer class="footer">
      <div class="break-line"></div>
      <div class="footer__header">
        <h1>share this page<div class="break-line1"></div></h1>
      </div>
      <div class="footer__nav">
        <div class="footer__pages">
          <a href="signin.html">Log in</a>
          <a href="main.html">Home</a>
          <a href="exh.html">Project</a>
          <a href="about.html">About</a>
        </div>
        <div class="footer__links">
          <a href=""><img src="./assets/images/socialicons/facebook.svg" alt=""></a>
            <a href=""><img src="./assets/images/socialicons/vk.svg" alt=""></a>
            <a href=""><img src="./assets/images/socialicons/twitter.svg" alt=""></a>
        </div>
      </div>
    </footer>

	<script src="script/index.js"></script>
	<script src="../build/assets/js/header.js"></script>
	
</body>

</html>
