<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
  	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  	<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
  	<link rel="stylesheet" href="./assets/css/style.css"/>
	<link rel="icon" href="./assets/images/favicon.ico" type="image/x-icon">
	<title>Log in</title>
</head>
  <body class="page-login page-login--with-background">

		<form action="#" class="form page-login__form">
			<h1 class="form__title page-login__title">Log in</h1>
			<div class="input-login form__control">
				<span class="input__icon">
					<img src="./assets/images/icons/user.svg" alt="">
				</span>
				<input type="email" class="input__field input__field--text" placeholder="Email">
			</div>
			<div class="input-login form__control">
				<span class="input__icon">
					<img src="./assets/images/icons/key.svg" alt="">
				</span>
				<input type="password" class="input__field input__field--text" placeholder="Password">
			</div>
			<label for="login-remember" class="checkbox-login form__control">
				<input id="login-remember" type="checkbox" class="checkbox__field">
				Remember me
			</label>
			<div class="form__control">
				<button type="submit" class="button--primary page-login__enter" id="login__btn">
					Log in
				</button>
			</div>
		</form>

	<script src="../build/assets/js/jquery.min.js"></script>
  <script src="../build/assets/js/fslightbox.js"></script>
	<script src="script/index.js"></script>
	
</body>

</html>
